.login-form
{
    text-align: center;
    /* background-color: whitesmoke; */
    border-radius: 10px;
    padding:10px;
    margin: 50px;
    align-items: 'center';
}

.login-text
{
    text-align: center;
    color: red;
    font-size: 40px;
}

.btn-primary
{
    font-size: 20px;
    padding: 10px 40px;
    margin: 10px;
    background-color: #2DB6F0 !important;
    color: white !important;
    border-color:  #2DB6F0 !important;
    align-items: 'center';
}

.or
{
    font-size:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.form-group
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width:40%;
    max-width: 250px;
    border-radius: 5px;
    padding: 10px 10px;
    align-items: 'center';
}

.register-buttons
{
    text-align: center;
    color: white;
    /* background-color: whitesmoke; */
    border-radius: 10px;
    padding:10px;
    margin: 50px;
}

a
{
    text-decoration: none;
}